@font-face {
    font-family: "avenir-next-ultralight";
    src: url(../fonts/avenir-next/AvenirNext-UltraLight.otf);
}

@font-face {
    font-family: "avenir-next-ultralight-italic";
    src: url(../fonts/avenir-next/AvenirNext-UltraLightItalic.otf);
}

@font-face {
    font-family: "avenir-next-regular";
    src: url(../fonts/avenir-next/AvenirNext-Regular.otf);
}

@font-face {
    font-family: "avenir-next-italic";
    src: url(../fonts/avenir-next/AvenirNext-Italic.otf);
}

@font-face {
    font-family: "avenir-next-medium";
    src: url(../fonts/avenir-next/AvenirNext-Medium.otf);
}

@font-face {
    font-family: "avenir-next-medium-italic";
    src: url(../fonts/avenir-next/AvenirNext-MediumItalic.otf);
}

@font-face {
    font-family: "avenir-next-bold";
    src: url(../fonts/avenir-next/AvenirNext-Bold.otf);
}

@font-face {
    font-family: "avenir-next-bold-italic";
    src: url(../fonts/avenir-next/AvenirNext-BoldItalic.otf);
}

@font-face {
    font-family: "avenir-next-demibold";
    src: url(../fonts/avenir-next/AvenirNext-DemiBold.otf);
}

@font-face {
    font-family: "avenir-next-demibold-italic";
    src: url(../fonts/avenir-next/AvenirNext-DemiBoldItalic.otf);
}

@font-face {
    font-family: "avenir-next-heavy";
    src: url(../fonts/avenir-next/AvenirNext-Heavy.otf);
}

@font-face {
    font-family: "avenir-next-heavy-italic";
    src: url(../fonts/avenir-next/AvenirNext-HeavyItalic.otf);
}


@font-face {
    font-family: "bodoni-72-book";
    src: url(../fonts/bodoni-72/Bodoni-72-Book.otf);
}

@font-face {
    font-family: "bodoni-72-book-italic";
    src: url(../fonts/bodoni-72/Bodoni-72-Book-Italic.otf);
}

@font-face {
    font-family: "bodoni-72-medium";
    src: url(../fonts/bodoni-72/Bodoni-72-Medium.otf);
}

@font-face {
    font-family: "bodoni-72-medium-italic";
    src: url(../fonts/bodoni-72/Bodoni-72-Medium-Italic.otf);
}

@font-face {
    font-family: "bodoni-72-bold";
    src: url(../fonts/bodoni-72/Bodoni-72-Bold.otf);
}

@font-face {
    font-family: "bodoni-72-bold-italic";
    src: url(../fonts/bodoni-72/Bodoni-72-Bold-Italic.otf);
}

@font-face {
    font-family: "bodoni-72-fatface";
    src: url(../fonts/bodoni-72/Bodoni-72-Fatface.otf);
}

@font-face {
    font-family: "bodoni-72-fatface-italic";
    src: url(../fonts/bodoni-72/Bodoni-72-Fatface-Italic.otf);
}


@font-face {
    font-family: "didot-regular";
    src: url(../fonts/didot/Didot\ Regular.ttf);
}

@font-face {
    font-family: "didot-italic";
    src: url(../fonts/didot/Didot\ LT\ Std\ Italic.otf);
}

@font-face {
    font-family: "didot-medium";
    src: url(../fonts/didot/Didot\ Medium.ttf);
}

@font-face {
    font-family: "didot-bold";
    src: url(../fonts/didot/Didot\ LT\ Std\ Bold.otf);
}

@font-face {
    font-family: "didot-bold-italic";
    src: url(../fonts/didot/Didot\ Bold\ Italic.ttf);
}

.carousel {
    margin: 0 10% !important;
}

#editorial-heading {
    margin-bottom: 30px;
    text-align: center;
}

#editorial-container {
    margin-top: 100px;
    padding: 5vh 25vh;
    background-color: #e1e1e1;
    border-radius: 5px;
}

#section-headings {
    margin-top: 5%;
    margin-left: 12%;
}

.card-wrapper {
    display: flex;
}


.card {
    margin: 0 0.5em;
    width: 25%;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border-radius: 5px !important;
    border: none;
}

.card-body { 
    display: flex;
    flex-direction: column;
}

.carousel-inner {
    padding: 1em;
}

/* .carousel-item {
    background-color: rgb(204, 204, 204);
    border-radius: 5px;
} */

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#read-btn {
    margin-top: auto !important;
}

.article-author {
    margin-bottom: 8%;
}

.breadcrumb {
    margin-bottom: 3%;
    margin-left: 4%;
}

article {
    padding: 0 25%;
}

.article-sub-heading {
    margin-top: 8%;
}

.article-img-container {
    margin: 10% 0;
    width: 100%;
}

.article-img-container img {
    width: 100%;
}

.img-caption {
    margin-top: 2%;
    text-align: center;
    font-family: "avenir-next-ultralight";
}

@media (max-width: 768px) {
    article {
        padding: 0 5%;
    }
}
