p {
  font-size: 1rem;
  font-family: "avenir-next-regular";
}

h1,h2,h3,h4,h5 {
  font-family: "didot-regular";

}

.footer {
  margin-top: 200px;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(228, 228,228)!important;
}

.download-button {
  color: #fff;
  border-color: #fff;
}

.section {
  padding: 4em 0;
}

.section-heading {
  margin-top: 3%;
  margin-left: 6.5%;
  margin-bottom: 1%;   
}

.carousel {
  margin: 0 10% !important;
}

@media screen and (min-width: 768px) {
  #editorial-heading {
    margin-bottom: 30px;
    text-align: center;
  }
  
  #editorial-container {
    margin-top: 100px;
    padding: 5vh 25vh;
    background-color: #e1e1e1;
    border-radius: 5px;
  }

}

#section-headings {
  margin-top: 5%;
  margin-left: 12%;
}

.article-author {
  margin-bottom: 8%;
}

.breadcrumb {
  margin-bottom: 3%;
  margin-left: 4%;
}

article {
  padding: 0 25%;
}

.article-sub-heading {
  margin-top: 8%;
}

.article-img-container {
  margin: 10% 0;
  width: 100%;
}

.article-img-container img {
  width: 100%;
}

.img-caption {
  margin-top: 2%;
  text-align: center;
  font-family: "avenir-next-ultralight";
}

.article-heading {
  font-size: 2rem;
  font-family: "didot-regular";
}

.article-author {
  font-size: 1rem;
  font-family: "avenir-next-regular";
}

.article-interview-questions {
  margin-top: 5%;
  font-size: 1.2rem;
  font-family: "avenir-next-medium";
}

.article-body-text {
  font-size: 1rem;
  font-family: "avenir-next-regular";
}

@media (max-width: 768px) {
  article {
      padding: 0 5%;
  }
  #an-unconventional-estimation-img-01, #an-unconventional-estimation-img-02, #an-unconventional-estimation-img-03 {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.card {
  margin: 0 0.5em;
}

#an-unconventional-estimation-img-01, #an-unconventional-estimation-img-02, #an-unconventional-estimation-img-03 {
  width: 60%;
}

@media (max-width: 768px) {
  article {
      padding: 0 5%;
  }
  #an-unconventional-estimation-img-01, #an-unconventional-estimation-img-02, #an-unconventional-estimation-img-03 {
    width: 100%;
  }
}
