.footer {
  margin-top: 200px;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(228, 228,228)!important;
}

.download-button {
  color: #fff;
  border-color: #fff;
}

#magazine-cover-img {
  height: 400px;
}

.section-heading {
  margin-top: 3%;
  margin-left: 6.5%;
  margin-bottom: 1%;   
}
